h1
{
	text-align: center;	

}
body
{
	background-color: green;
	font-size: 16pt;
	color: white;
	text-align: justify;
	font-family: Lato, "Times New Roman", sans-serif
}
img 
{
	color: red;
	font-size: 11pt;
	
}
